head
  title= pageTitle
  link(rel="stylesheet", href="css/glidejs/glide.core.min.css")
  link(rel="stylesheet", href="css/glidejs/glide.theme.min.css")
  link(rel="stylesheet", href="css/normalize-css/normalize.css")
  link(rel="stylesheet", href="css/samurai.min.css")